<div class="hos_small_position">
    <a href="{% url 'dashboard' %}" style="text-decoration: none">
        <div class="small_ballon">
            <img src="/qcenter/static/icons/dashboard.ico" width=20px; height=20px;> &nbsp;
            Dasbor
        </div>
    </a>
    
    <div class="small_ballon">
        <img src="/qcenter/static/icons/news.ico" width=20px; height=20px;> &nbsp;
        Berita
    </div>
    <div class="small_ballon">
        <img src="/qcenter/static/icons/schedule.ico" width=20px; height=20px;> &nbsp;
        Jadwal Kamu
    </div>
    <div class="small_ballon">
        <img src="/qcenter/static/icons/engine.ico" width=20px; height=20px;> &nbsp;
        Pengaturan
    </div>
</div>