{% load i18n %}

<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="/qcenter/static/css/dashboard.css" type="text/css" rel="stylesheet"/>
		<script type="text/javascript" src="/qcenter/static/tabmenu/tabmenu.js"></script>
		<link rel="stylesheet" href="/qcenter/static/tabmenu/tabmenu.css" />
		
		{% block javascript %}{% endblock %}
		{% block style %}{% endblock %}
		{% block head %}{% endblock %}
	</head>

	<div class="wrapper">
		<header class="header">
			
			<span style="padding: 30px; font-size: 20px;">
				<img src="/qcenter/static/assets/logo.png" style="width: 50px; height: 50px; margin-top: 5px">
				Qcenter
			</span>
			
			{% if user.is_authenticated %}
				<div style="float: right; padding: 17px;">
					<span style="color:white;">Signed as -- {{ user.first_name }}</span> &nbsp;
					<a href="{% url 'user_logout' %}">
						<img src="/qcenter/static/assets/logouthover.png">
					</a>
				</div>
			{% endif %}	
		</header>
		{% include "base/tab_menu.html" %}
		{% block body %}{% endblock %}
	</div>
	
	<footer class="footer">
		<span style="float: right; padding: 20px;">Qcenter copyright 2014 </span>
	</footer><!-- .footer -->
	
</html>

