<aside class="left-sidebar">
    <div class="hos_small_ballon">
        <img src="/qcenter/static/display/hospital/{{ hospital.image}}" width="200;" height="100;">
    </div>
    
    <div class="small_ballon">
        <span>Nama : </span><br>
        <span>{{ hospital.name }}</span><br/><br/>
        
        <span>Alamat : </span><br>
        <span>{{ hospital.address }}, {{ hospital.city }} </span><br/><br/>
        <span>Telepon : </span><br>
        <span>{{ hospital.phone }}</span><br>
    </div>
    {% include "base/dasbor.html" %}
</aside>
