<aside class="left-sidebar">
    <div class="hos_small_ballon">
        <img src="/qcenter/display/doctor/{{ doctor.image}}" width="200;" height="200;">
    </div>
    
    <div class="small_ballon">
        <span>Name : </span><br>
        <span>{{ doctor.name }}</span><br/><br/>
        <span>Phone : </span><br>
        <span>{{ doctor.phone }}</span><br>
    </div>
    
    
    <div class="hos_small_position">
        <div class="small_ballon">
            Dashboard
        </div>
        <div class="small_ballon">
            Your Schedule
        </div>
        <div class="small_ballon">
            News
        </div>
        <div class="small_ballon">
            Settings
        </div>
    </div>
</aside>