<aside class="left-sidebar">
    <div class="hos_small_ballon">
        <img src="/qcenter/display/hospital/{{ hospital.image}}" width="200;" height="100;">
    </div>
    
    <div class="small_ballon">
        <span>Name : </span><br>
        <span>{{ hospital.name }}</span><br/><br/>
        
        <span>Address : </span><br>
        <span>{{ hospital.address }}, {{ hospital.city }} </span><br/><br/>
        <span>Phone : </span><br>
        <span>{{ hospital.phone }}</span><br>
    </div>
    
    <div class="hos_small_position">
        <div class="small_ballon">
            Dashboard
        </div>
        <div class="small_ballon">
            Your Schedule
        </div>
        <div class="small_ballon">
            News
        </div>
        <div class="small_ballon">
            Settings
        </div>
    </div>
</aside>