<aside class="left-sidebar">
    <div class="hos_small_ballon">
        <img src="/qcenter/display/doctor/{{ doctor.image}}" width="200;" height="200;">
    </div>
    
    <div class="small_ballon">
        <span>Name : </span><br>
        <span>{{ doctor.name }}</span><br/><br/>
        <span>Phone : </span><br>
        <span>{{ doctor.phone }}</span><br>
    </div>
    
    
    <div class="hos_small_position">
        <a href="{% url 'dashboard' %}">
            <div class="small_ballon">
                <img src="/qcenter/static/icons/dashboard.ico" width=20px; height=20px;> &nbsp;
                Dashboard
            </div>
        </a>
        
        <div class="small_ballon">
            <img src="/qcenter/static/icons/news.ico" width=20px; height=20px;> &nbsp;
            News
        </div>
        <div class="small_ballon">
            <img src="/qcenter/static/icons/schedule.ico" width=20px; height=20px;> &nbsp;
            Your Schedule
        </div>
        <div class="small_ballon">
            <img src="/qcenter/static/icons/engine.ico" width=20px; height=20px;> &nbsp;
            Settings
        </div>
        
    </div>
</aside>