<ul id="tabmenu">
    <li>
        <a href="#">Kota</a>
        
        <ul>
            {% for item in city %}
                <li><a href="{% url 'dashboard' %}" style="text-decoration: none">{{ item.name }}</a>
                    <ul>
                        {% if item.get_hospital %}
                            {% for izu in item.get_hospital %}
                                <li><a href="{% url 'hospital' izu.id %}" style="text-decoration: none">{{ izu }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a href="#">No Hospital Data</a></li>
                        {% endif %}
                    </ul>
            {% endfor %}
        </ul>
    </li>
    
    <li>
        <a href="?3">Tentang Kami</a>
        <ul>
            <li><a href="#"><img src="/qcenter/static/icons/about.png" style="width: 25px; height: 25px;"></a></li>
            <li><a href="http://www.facebook.com"><img src="/qcenter/static/icons/facebook.png" style="width: 25px; height: 25px;"></a></li>
            <li><a href="https://twitter.com/"><img src="/qcenter/static/icons/twitter.ico" style="width: 25px; height: 25px;"></a></li>
            <li><a href="mailto:pandawa168@gmail.com"><img src="/qcenter/static/icons/gmail.png" style="width: 25px; height: 25px; margin-top: 5px;"></a></li>
        </ul>
    </li>
</ul>