{% extends "base/base_login.html" %}

{% block title %} Login Qcenter {% endblock %}

<!--{% block head %}
	<link href="/qcenter/static/css/login.css" type="text/css" rel="stylesheet"/>
{% endblock %}-->


{% block body %}
	
		<div style="text-align: center">
			<br><br><br>
			<span style="font-size: 40px; color: white;">
				<img src="/qcenter/static/assets/logo.png" style="width: 70px; height: 60px;">
				Qcenter
			</span>
		</div>
		<br>
		
		<div>
			<form method="post" class="login" style="margin-top: 1%;">
				
				<div>
					<p>
						<label for="login">Email:</label>
						{{ form.username }}
					</p>
				
					<p>
						<label for="password">Password:</label>
						{{ form.password }}
					</p>
				
					<p class="login-submit">
					  <button type="submit" class="login-button">Login</button>
					</p>
				
					<p class="forgot-password" style="float: right;">
						<a href="{% url 'user_register' %}" style="text-decoration: none; font-size: 15px;">Register</a>
						<!--<a href="#">Forgot my password</a>-->
					</p>
				</div>
			</form>
		</div>
		{% if errors %}
			<div style="text-align: center; color: white;">
				{{ errors }}
			</div>
		{% endif %}
{% endblock %}